
  html, body {
    height: 100%; 
}

  #timeline {
    width: 100% !important;
  }

body {
  background: linear-gradient(to right, #121111 0%, #140130 60%, #0f0f0f 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

